
api_server_client_id = "xxxxx"
api_server_client_secret = "xxxxx"
api_server_token_introspection_uri = "https://dev-xxxx.okta.com/oauth2/default/v1/introspect"
api_server_issuer = "https://dev-xxxx.okta.com/oauth2/default"



okta_client_id = 'xxx'
okta_client_secret ='xxx'
okta_ssws_token = 'xxx'
okta_api_integration_secret = 'xx-xx-xxx'

authorize_url = 'https://dev-xxx.okta.com/oauth2/default/v1/authorize'

token_url = 'https://dev-xxx.okta.com/oauth2/default/v1/token'

api_url_base = 'https://dev-xxxx.okta.com/'

base_url = 'http://localhost:5000/'

resource_server_url = 'http://localhost:8000/'

user_info_url='https://dev-xxx.okta.com/oauth2/default/v1/userinfo'
