okta_client_id = 'xxx'
okta_client_secret ='xxx'

oauth_authorize_url = 'https://dev-xxx.okta.com/oauth2/v1/authorize'

oauth_access_token_url = 'https://dev-xxx.okta.com/oauth2/v1/token'


api_url_base = 'https://dev-xxx.okta.com/'

base_url = 'http://localhost:5000/'
