auth_uri = "https://dev-xxx.okta.com/oauth2/default/v1/authorize"
client_id = "xxx"
client_secret = "xxx"
redirect_uri= "http://localhost:5000/authorization-code/callback"
interaction_redirect_uri= "http://localhost:5000/interaction-code/callback"
issuer = "https://dev-xxx.okta.com/oauth2/default"
token_uri = "https://dev-xxx.okta.com/oauth2/default/v1/token"
idx_token_uri = "https://dev-xxx.okta.com/idp/idx/token"
token_introspection_uri = "https://dev-xxx.okta.com/oauth2/default/v1/introspect"
userinfo_uri = "https://dev-xxx.okta.com/oauth2/default/v1/userinfo"
base_url = "https://dev-xxx.okta.com/oauth2/default/v1/"
