
okta_client_id = 'xxxx'

private_key_path = '/path/to/your/private_key.pem'

okta_kid = 'xxxx'  # Key ID from the public key registered in Okta

token_url = 'https://dev-xxx.okta.com/oauth2/v1/token'  # Org Authorization Server

api_url_base = 'https://dev-xxx.okta.com/'
